<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pick Source</title>
    <link rel = "stylesheet" href="{{ url_for('static',filename='styles/notatorUI.css') }}">
</head>
<body>

    <div id = "page1">
        <div class = "heading">
            <h1 class = "title">Notator</h1>
        </div>

        <div class = "question">
            <form>
                <input name = "articleSource" id = "url" value = "u" type = "radio" class = "userInput">
                <br>
                <label for = "url" id = "idUrl">Website Link</label>

                <br><br><br><br>

                <input name = "articleSource" id="article" value = "c" type = "radio" class = "userInput">
                <br>
                <label for = "article" id = "idArticle">Copy and Paste Text</label>
            </form>
        </div>

        <div class = "next">
            <p class = "nextBtn" id = "nextBtn">
                Next
            </p>
        </div>
    </div>


    <div id = "page2u">
        <div class = "heading">
            <h1 class = "title">Notator</h1>
        </div>

        <div class = "question page2uquestion">
            <form>
                <input name = "webSource" id = "npost" value = "npost" type = "radio" class = "userInput">
                <br>
                <label for = "npost" id = "idnpost">New York Post</label>

                <br><br><br><br>

                <input name = "webSource" id="ntimes" value = "ntimes" type = "radio" class = "userInput">
                <br>
                <label for = "ntimes" id = "idntimes">New York Times</label>

                <br><br><br><br>

                <input name = "webSource" id="wpost" value = "wpost" type = "radio" class = "userInput">
                <br>
                <label for = "wpost" id = "idwpost">Washington Post</label>
            </form>
        </div>


        <div class = "back">
            <p class = "backBtn" id = "backbtn1u">
                Back
            </p>
        </div>


        <div class = "next">
            <p class = "nextBtn" id = "nextBtn1u">
                Next
            </p>
        </div>
    </div>


    <div id = "page2a">
        <div class = "heading">
            <h1 class = "title">Notator</h1>
        </div>

        <div class = "question page2aquestion">
            <label for = "articleInput" class = "articleLabel">Enter Article Here</label>

            <br>

            <textarea id = "articleInput" class = "userInput textarea" data-attr = "textArea" cols = "90" rows = "22">

            </textarea>
        </div>

        <div class = "back">
            <p class = "backBtn" id = "backbtn1a">
                Back
            </p>
        </div>


        <div class = "next">
            <p class = "nextBtn" id = "nextBtn1a">
                Next
            </p>
        </div>
    </div>


    <div id = "page3">
        <div class = "heading">
            <h1 class = "title">Notator</h1>
        </div>

        <div class = "question page2aquestion">
            <label for = "linkInput" class = "articleLabel  linkLabel">Enter Link</label>

            <br>

            <form action = "/notes" method="post">
                <input type = "text" name = "linkInput" id = "linkInput" class = "userInput textarea linkInput" placeholder="https://">
            </form>
        </div>

        <div class = "back">
            <p class = "backBtn" id = "backbtn2">
                Back
            </p>
        </div>


        <div class = "next">
            <p class = "nextBtn" id = "nextBtn2">
                Next
            </p>
        </div>
    </div>


    <div id = "page4">
        <div class = "heading">
            <h1 class = "title">Notator</h1>
        </div>

        <div class = "question page4question">
            <form>
                <div class = "dontshow">

                <input name = "articleSource" id = "compkey" value = "u" type = "radio" class = "userInput">
                <br>
                <label for = "compkey" id = "idcompkey">Generated Keywords</label>

                <br><br><br><br>

                <input name = "articleSource" id="userkey" value = "c" type = "radio" class = "userInput">
                <br>
                <label for = "userkey" id = "iduserkey">User Keywords</label>

                </div>
                <br>

                <input type = "text" id = "keyInput" class = "userInput textarea linkInput" placeholder="Number of Keywords">
            </form>
        </div>


        <div class = "back">
            <p class = "backBtn" id = "backbtn3">
                Back
            </p>
        </div>


        <div class = "next">
            <p class = "nextBtn" id = "nextBtn3">
                <a href = "notes.html">Next</a>
            </p>
        </div>
    </div>


<!--    <div id = "notesPage">-->
<!--        <div class = "notesMain">-->


<!--            <div class = "heading">-->
<!--                <h1 class = "title">Notator</h1>-->
<!--            </div>-->


<!--            <div class = "notes">-->
<!--                <p id = "notes">-->

<!--                </p>-->
<!--            </div>-->


<!--        </div>-->

<!--&lt;!&ndash;        <br><br><br><br><br>&ndash;&gt;-->

<!--        <div class = "back notesBtn">-->
<!--            <p class = "backBtn lastBtn" id = "backbtn4">-->
<!--                    Back-->
<!--            </p>-->
<!--        </div>-->


<!--        <div class = "next notesBtn">-->
<!--            <p class = "nextBtn lastBtn" id = "nextBtn4">-->
<!--                    Again-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->

    <script src = "{{ url_for('static',filename='js/notatorUI.js') }}"></script>
    <script src = "postNotes.js"></script>
</body>
</html>