<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Notes</title>
    <link rel="stylesheet" href = "{{ url_for('static',filename='styles/ui.css') }}">
    <link rel="stylesheet" href = "{{ url_for('static',filename='styles/notes.css') }}">
</head>
<body>
{% block body %}

    <div class = "head">
        <h1 class = "title">Notator</h1>
    </div>

    <div class = "notes">
        {% for i in range(0, kw|length) %}
            <h2>{{ kw[i] }}</h2>

            <ul>
            {% for s in notes[i] %}
                <li>{{ s }}</li>
            {% endfor %}
            </ul>
        {% endfor %}

        <h2>Quotations</h2>
        {% for i in quotes %}
                <li>{{ i }}</li>
        {% endfor %}



    </div>

    <a href = "/">Again</a>


{% endblock %}
</body>
</html>